.guessArea {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #353b46;
    color: cornflowerblue;

    padding: 5px;
    border-radius: 3px;
    border: solid 1px cornflowerblue;
}