.keyboardLetter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 38px;
    margin: 5px 10px;

    border: solid 1px black;
    border-radius: 3px;
    background-color: lightslategrey;

    cursor: default;
}

.clickable:hover {
    border-color: cornflowerblue;
    background-color: cornflowerblue;

    font-size: 1.1em;
    cursor: pointer;
}

.wrongKeyboardLetter {
    background-color: inherit;
    border-top: none;
    border-right: none;
}

.goodKeyboardLetter {
    color: green;
    background-color: darkseagreen;
}