.App-header {
    background-color: #282c34;
    min-height: max(5vh, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.headerNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    padding: 0 10px;
    margin: 0;

    list-style-type: none;
}

.headerNav > li {
    margin: 0 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.headerNav > li:hover {
    color: cornflowerblue;
}
