.keyboardLetter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 40px;
    margin: 5px 10px;

    border: solid 1px black;
}

.wrongKeyboardLetter {
    background-color: grey;
}

.goodKeyboardLetter {
    color: green;
    background-color: darkseagreen;
}

.clickable {
    cursor: pointer;
}