.keyboard {
    border: solid 1px red;
}

.keyboardRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboardLanguage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.keyboardLanguage > span {
    margin: 10px;
    border: solid 1px skyblue;
    cursor: pointer;
}